<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ECharts</title>
    <!-- 引入 echarts.js -->
    <script src="../static/js/echarts.min.js"></script>
</head>
<body>
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main" style="width: 1600px;height:800px;"></div>
    <script>
		  var myChart = echarts.init(document.getElementById('main'));
    var categories = [];
    for (var i = 0; i < {{ classnum }}; i++) {
        categories[i] = {
            name: 'Class' + i
        };
    }
    option = {
        // 图的标题
        title: {
            text: 'Brain Connection Map'
        },
        // 提示框的配置
        tooltip: {
            formatter: function (x) {
                return x.data.des;
            }
        },
        // 工具箱
        toolbox: {
            // 显示工具箱
            show: true,
            feature: {
                mark: {
                    show: true
                },
                // 还原
                restore: {
                    show: true
                },
                // 保存为图片
                saveAsImage: {
                    show: true
                }
            }
        },
        legend: [{
            // selectedMode: 'single',
            data: categories.map(function (a) {
                return a.name;
            })
        }],
        series: [{
            type: 'graph', // 类型:关系图
            layout: 'force', //图的布局，类型为力导图
            roam: true, // 是否开启鼠标缩放和平移漫游。默认不开启。如果只想要开启缩放或者平移,可以设置成 'scale' 或者 'move'。设置成 true 为都开启
            edgeSymbol: ['circle', 'arrow'],
            edgeSymbolSize: [2, 10],
            edgeLabel: {
                normal: {
                    textStyle: {
                        fontSize: 20
                    }
                }
            },
            force: {
                repulsion: 2500,
                edgeLength: [10, 50]
            },
            draggable: true,
            lineStyle: {
                normal: {
                    width: 2,
                    color: '#4b565b',
                }
            },
            edgeLabel: {
                normal: {
                    show: false,
                    formatter: function (x) {
                        return x.data.name;
                    }
                }
            },
            label: {
                normal: {
                    show: true,
                    textStyle: {}
                }
            },
 
            // 数据
            data: [
            {% for x in nodes %}
            {
			  id: "{{ x[0] | safe }}",
			  name: "{{ x[1] | safe }}",
			  symbolSize: {{ x[2] | safe }},
			  value: {{ x[3] | safe }},
			  category: {{ x[4] | safe }}
			}, 
			{% endfor %}
			],
            links: [
            {% for k in edges %}
            { source: "{{ k[0] | safe }}",target: "{{ k[1] | safe }}" }, 
		    {% endfor %}
		    ],
            categories: categories,
        }]
    };
    myChart.setOption(option);
    </script>
</body>
</html>