<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ECharts</title>
    <!-- 引入 echarts.js -->
    <script src="../static/js/echarts.min.js"></script>
	<script src="../static/js/echarts-gl.js"></script>
</head>
<body>
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main" style="width: 1600px;height:800px;"></div>
    <script>
		var chartDom = document.getElementById('main');
		var myChart = echarts.init(chartDom);
		var option;
		{% set length = (length)|int %}
		option = {
			tooltip: {},
			backgroundColor: '#fff',
			visualMap: {
				show: false,
				inRange: {
					color: ['#313695', '#4575b4', '#74add1', '#abd9e9', '#e0f3f8', '#ffffbf', '#fee090', '#fdae61', '#f46d43', '#d73027', '#a50026']
				}
			},
			xAxis3D: {
				type: 'value'
			},
			yAxis3D: {
				type: 'value'
			},
			zAxis3D: {
				type: 'value'
			},
			grid3D: {
				viewControl: {
					projection: 'orthographic'
				}
			},
			series: [
			{% for i in range(0, length) %}
				{
					type: 'line3D',
					name: 'data{{i}}',
					data: {{data_r[i]}},
					lineStyle: {width: 4}
				},
			{% endfor %}
			]
			
		};

		option && myChart.setOption(option);
    </script>
</body>
</html>